.carouselle {
  position: relative;
  width: 80%;
  height: 415px;
  border-radius: 15px;
  margin: 0 auto; 
  overflow: hidden; 

  .image-number {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(39, 38, 38, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  .carouselle-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; 
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    img {
      width: 50px;
      height: 60px;
    }
  }
  
  .left-arrow {
    left: 10px; 
  }

  .right-arrow {
    right: 10px; 
  }
}

@media screen and (max-width: 768px) {
  .carouselle {
    width: calc(96% - 30px);
    height: 315px;
  }

  .arrow img {
    width: 28px !important;  
    height: 33px !important;
  }
  .image-number {
    display: none;
  }
}
