.error-page {
  display: flex;
  flex-direction: column; // Organise les éléments en colonne
  justify-content: center; // Centre verticalement
  align-items: center; // Centre horizontalement
  padding: 20px; // Ajoute du padding pour éviter que le contenu touche les bords
  box-sizing: border-box; // Assure que le padding est inclus dans la largeur totale
}

.errorTitle {
  font-size: 286px;
  color: #FF6060;
  text-align: center;
  margin-bottom: 30px; 
  margin-top: 20px;

  @media screen and (max-width: 768px) {
    font-size: 140px;
  }
}

.errorText {
  font-size: 18px;
  color: #FF6060;
  font-weight: 500;
  text-align: center;
  margin: 20px 0; 
}

.errorLink {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: block; 
  margin: 45px auto; 

  @media screen and (max-width: 768px) {
    margin: 79px auto; 
    
  }
}
